<h1><%= @doctor.name %></h1>
<p>Specialty: <%= @doctor.specialty %></p>
<p>University: <%= @doctor.university %></p>
<p>Hospital: <%= @doctor.hospital.name %></p>

<h2>Patients:</h2>
<% if @doctor.patients.any? %>
  <ul>
    <% @doctor.patients.each do |patient| %>
      <li id="patient-<%= patient.id %>">
        <%= patient.name %>
        <%= button_to 'Remove', doctor_patient_path(@doctor, patient), method: :delete %>
      </li>
    <% end %>
  </ul>
<% end %>